{% extends "base.html" %}

{% block title %} <title>Registrarse</title> {% endblock %}

{% block jumbotron %} 
    <div style="background-color: #4B515D !important" class="jumbotron text-center stylish-color">
        <h1>Registrar Usuario</h1>
        <p>Regístrese para poder iniciar sesión con un usuario propio.</p>
    </div>
{% endblock %}

{% block alert %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <div style="margin-right: 30px" class="{{ classAlert }}" role="alert"> {{ message }} </div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
{% endblock %}

{% block content %}
    <form action="{{ url_for('registered') }}" method="POST">
        <div class="form-group">
            <label>Nombre Usuario:</label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-default">Registrarse</button>
    </form>
{% endblock %}